@media screen
{ 
    /* body { */
      /* margin-top:20px; */
      /* height: calc(100% - 20px) */
    /* } */

    #container {
      overflow: hidden;
      background: black;
      position: fixed;
      border:none;
      top: 32px;
      display:block;
      left: 0;
      margin: 0 0 0 0;
      padding: 0;
      height: 20px;
      z-index: 10000;
    }
    .breadcrumb { 
        list-style: none; 
        overflow: hidden; 
        font-size: small;
        -webkit-text-size-adjust: 100%; 
        font-family: monospace;
    }
    .breadcrumb li { 
        float: left; 
    }
    .breadcrumb li a {
        color: white;
        text-decoration: none; 
        padding: 3px 0 3px 12px;
        background: brown;                   /* fallback color */
        background: hsla(34,85%,35%,1); 
        position: relative; 
        display: block;
        float: left;
    }
    .breadcrumb li a:after { 
        content: " "; 
        display: block; 
        width: 0; 
        height: 0;
        border-top: 10px solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: 10px solid transparent;
        border-left: 10px solid hsla(34,85%,35%,1);
        position: absolute;
        top: 50%;
        margin-top: -10px; 
        left: 100%;
        z-index: 2; 
    }	
    .breadcrumb li a:before { 
        content: " "; 
        display: block; 
        width: 0; 
        height: 0;
        border-top: 10px solid transparent;           /* Go big on the size, and let overflow hide */
        border-bottom: 10px solid transparent;
        border-left: 10px solid white;
        position: absolute;
        top: 50%;
        margin-top: -10px; 
        margin-left: 1px;
        left: 100%;
        z-index: 1; 
    }	
    .breadcrumb li:first-child a {
        padding-left: 10px;
    }

    .breadcrumb li:first-child a       { cursor: default; }
    .breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,5%,1); }
    .breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,5%,1); }
    .breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,15%,1); }
    .breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,15%,1); }
    .breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,20%,1); }
    .breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,20%,1); }
    .breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,35%,1); }
    .breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,35%,1); }
    .breadcrumb li:nth-child(6) a       { background:        hsla(34,85%,45%,1); }
    .breadcrumb li:nth-child(6) a:after { border-left-color: hsla(34,85%,45%,1); }
    .breadcrumb li:nth-child(7) a       { background:        hsla(34,85%,55%,1);color: black }
    .breadcrumb li:nth-child(7) a:after { border-left-color: hsla(34,85%,55%,1); }
    .breadcrumb li:nth-child(8) a       { background:        hsla(34,85%,65%,1);color: black }
    .breadcrumb li:nth-child(8) a:after { border-left-color: hsla(34,85%,65%,1); }
    .breadcrumb li:nth-child(9) a       { background:        hsla(34,85%,75%,1);color: black }
    .breadcrumb li:nth-child(9) a:after { border-left-color: hsla(34,85%,75%,1); }
    .breadcrumb li:nth-child(10) a       { background:        hsla(34,85%,85%,1);color: black }
    .breadcrumb li:nth-child(10) a:after { border-left-color: hsla(34,85%,85%,1); }
    .breadcrumb li:nth-child(11) a       { background:        hsla(34,85%,95%,1);color: black }
    .breadcrumb li:nth-child(11) a:after { border-left-color: hsla(34,85%,95%,1); }
    .breadcrumb li:last-child a       { background: white;color: black;padding-right: 10px; }
    .breadcrumb li:last-child a:after { border: 0; }
    .breadcrumb li:last-child a:before { display: none; }
    .breadcrumb li:last-child a:hover { color: white; }
    .breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
    .breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }

    .empty { 
        background: transparent !important;
        pointer-events: none;
        cursor: default;
    }
}
@media print
{ 
    .no-print { 
      display: none !important;
    }
}